@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Regular"; /*Can be any text*/
  src: local("Roboto-Regular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Black"; /*Can be any text*/
  src: local("Roboto-Black"), url("./fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Bold"; /*Can be any text*/
  src: local("Roboto-Bold"), url("./fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("Roboto-Light"), url("./fonts/Roboto-Light.ttf") format("truetype");
}

#root {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  font-family: "Regular";
}
.site-open {
  transition: all 0.3s ease;
  transform: translate3d(-75%, 0, 0);
}
.site-close {
  transition: all 0.3s ease;
}
.navbar-open {
  transition: z-index 0.5s step-start;
  opacity: 1;
  z-index: 1;
}
.navbar-close {
  transition: z-index 0.3s step-end, opacity 0.3s linear, left 0.3s linear;
  opacity: 0;
  z-index: -1;
}
